@media (max-width:1400px) {

    .navigation__bg {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navigation__menu{
        padding: 25px;
    }
    .navigation__logo{
    padding: 20px 0 20px 8%;
    }
    .feautures{
        width: 100%;
    }
    .header_overplay,.header_overplay,.social-icons_bg,.footer_bg{
        width: 93%;
    }
    .pricing,.stylish_bg{
        width: 100%;
    }
    .process{
        width: 100%;
    }
    .testimonials{
        width: 100%;
    }
    .contact,.contact__datablock-input,.contact__massege textarea{
        width: 100%;
    }
    .process__content-collum{
        flex: 0 1 33.333%;
    }
    .process__content-description{
        width: 100%;
        box-sizing: border-box;
    }
    .contact__massege,.contact__datablock{
        width: 100%;
        padding: 15px;;
    }
}   
@media (max-width:1024px){
    .social-icons__textblock{
        width: 100%;
        margin: 10px;
    }
}
@media (max-width:992px){
    .pricing{
        height: auto;
    }
    .header_overplay{
        padding: 15px;
    }
    .header__bg{
        justify-content: normal;
    }
    .feautures__img{
    display: none;   
    }
    .pricing__content{
        flex: 0 1 33.333%;  
        flex-wrap: nowrap;
    }
    .header-section_left{
        width: 100%;
    }
    .header__form-title{
        font-size: 15px;
    }
    .header__form{
        width: 100%;
    }
    .header__form-main input{
        width: 80%;
    }
    
    .pricing__content-table_padding-top,.pricing__content-table_padding-bot{
        padding: 15px;
    }
    .social-icons{
        height: 100%;
    }
    .social-icons_bg{
        flex-direction: column;
        align-items: normal;
    }
    .social-icons__img{
    display: flex;
    justify-content: center;
    padding: 10px;
    }
    .social-icons__img img{
        width: 50%;
    }
    .testimonials__allcomments{
        flex: 0 1 33.333%;  
        flex-wrap: nowrap;
    }
    .testimonials__allcomments-block {width: 99%;}
    .testimonials__allcomments-block-text {
        width: auto;
    }
}
@media (max-width:768px){
    .navigation__menu-icon{
        display: inline;
    }
    .navigation{
        width: 100%;
    }
    .navigation__bg{
        align-items: center;
    }
    .navigation__menu{
        padding: 0px;
        width: 100%;
        justify-content: flex-end;
    }
    .material-toggle{
        margin: 15px;
    }
    .navigation__menu-icon{
        margin-right: 10px;
    }
    .header_overplay{
        padding: 15px;
    }
    .header__leftblock{
        align-items: center;
    }
    .header-section_left{
        align-items: center;    
    }
    .header__form-title{
    font-size: 10px;
    }
    .header__leftblock img{
        margin-bottom: 15px;
    }
    .navigation__menu-block,.header__form {
        display: none;
    }
    .feautures__tabs{
        padding-left: 10px;
    }
    .feautures__textblock{
        width: 90%;
        padding: 15px;
        height: auto;
    }
    .feautures__textblock-descriprion{
        width: 100%;
    }
    .process{
        height: auto;
        margin: 30px 10px;
    }
    .process__content{
        flex-direction: column;
        padding-top: 0px;
    }
    .process__content-description{
        margin-bottom: 40px;
    }
    .header-section__subtitle{
        text-align: center;
        margin-bottom: 15px;
    }
    .header-section__title{
        text-align: center;
        padding: 10px;
    }
    .testimonials,.contact{
        height: auto;
        margin: 15px;
    }
    .testimonials__allcomments,.contact__block{
        flex-direction: column;
        padding: 15px;
    }
    
}
